#notificationBody {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #214069;
  cursor: pointer;
}
.paginationBttns a:hover {
  background-color: #cbd0d8;
}
.paginationActive a {
  color: white;
  background-color: #cbd0d8;
}
#notifyReadBody p,
span {
  font-size: 15px;
}
#notifyReadBody {
  position: relative;
  width: 80%;
  height: fit-content;
  justify-content: center;
  background-color: #f2edd7;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 35px;
  margin-left: 10%;
  padding: 25px;
}
.blockquote {
  width: max-content;
  height: 200px;
}

#P_desc {
  background-color: #cbd0d8;
  color: #214069;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#startT {
  position: absolute;
  right: 55px;
  bottom: 15px;
  background-color: #c60c15;
  height: fit-content;
  font-size: 15px;

  color: white;
  border-color: white;
}
#comments {
  position: absolute;
  right: 10px;
  bottom: 15px;
  background-color: white;
  height: 30px;
  font-size: 15px;
  color: white;
  border-color: white;
}
#headrNotification {
  margin: 20px;
  position: relative;
  height: 50px;
  padding: 20px;
  background-color: #214069;
}
#statusNotification {
  position: absolute;
  left: 80%;
  top: 10%;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
}
