#cadrOperation {
  height: auto;
  width: auto;
  padding: 20px;
  margin-top: 10px;
}
#operation {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btn_Op {
  position: absolute;
  bottom: 10px;
  right: 45%;
  width: 100px;
}
#bodyOperation {
  position: relative;
  margin: 50px 5% 20px 5%;
  width: 80%;
  height: 100%;
  min-height: 100vh;
}
#cadrAdd {
  margin: 20px;
  padding: 10px;
}
#saveOp {
  margin-left: 38%;
}
#cancleOp {
  margin-left: 50px;
}
#cadrBtn {
  width: 50%;
  height: 50px;
  position: absolute;
  bottom: 15%;
  right: 2px;
  margin: 15px;
  margin-left: 50%;
}
